.nav {
	margin-top: 0;
	background-color: var(--main-bg-color);
	color: var(--dark-text-color);
	z-index: 1;
	padding-right: 25px;
}

.menu-logo {
	justify-content: flex-start;
	margin-left: 1rem;
}

.logo-svg {
	width: 100%;
}

.menu-btn {
	width: 3rem;
}
.nav-links {
	width: 10%;
	margin-left: auto;
	justify-content: space-around;
}
