@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

.img-container {
	margin: auto;
	width: 95%;
	display: flex;
}

.img-container .homepage-img {
	width: 100%;
	border-radius: 4px;
}

.image-text-overlay {
	position: absolute;
	left: 20rem;
	top: 25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-text-overlay .img-text {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 3rem;
	text-align: center;
	color: white;
	font-weight: 700;
}

.image-text-overlay button {
	background-color: white;
	margin-top: 25px;
	color: black;
}

.desc-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 25px;
}

.feature {
	background-color: rgb(227 227 227);
	display: flex;
	align-items: center;
	margin: 15px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	padding: 10px;
	gap: 20px;
	height: fit-content;
}

.feature-title {
	font-size: 2rem;
	margin-bottom: 15px;
	font-weight: 600;
}

.feature-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.feature-body button {
	margin-left: 0;
	margin-top: 10px;
}
