* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: rgb(245, 245, 245);
}

.btn-primary {
	background-color: rgb(46, 46, 46);
	color: white;
}

.btn {
	border: none;
	padding: 7px 16px;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	font-weight: 500;
	margin: 10px 13px 10px 13px;
	transition: all 0.1s;
}

.btn-primary-outlined {
	background-color: transparent;
	border: 1px solid rgb(46, 46, 46);
	color: black;
}
